<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Login</title>

    <script src="static/js/tailwind.js"></script>

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>


  </head>
  <body class="bg-zinc-950">
    <div class="flex justify-center items-center min-h-screen p-10">
      <section class="flex bg-black rounded-xl  justify-center shadow-sm shadow-yellow-600 items-center md:w-4/12 w-full border border-yellow-600">

        <div class="w-full p-10">

            <div class="text-center">
                <i class="fa fa-user-circle text-yellow-600 text-7xl"></i>
            </div>


            <form action="{{ url_for('index') }}" method="post">
                {% if error %}
                <div class="text-red-500 mb-3">{{ error }}</div>
                {% endif %}
                <div class="my-3">
                    <label for="email" class="block mb-3 text-xl text-white font-medium">E-mail</label>
                    <div class="relative">
                        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                            <i class="fas fa-envelope text-gray-200"></i>
                        </span>
                        <input class="border rounded-md focus:outline-none w-full py-2 pl-10 bg-black text-white  pr-5 border-yellow-600" type="email" name="email" id="email" placeholder="Email" required>
                    </div>
                </div>
            
                <div class="my-3">
                    <label for="password" class="block mb-3 text-xl text-white font-medium">Password</label>
                    <div class="relative">
                        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                            <i class="fas fa-lock text-gray-200"></i>
                        </span>
                        <input id="password" class="border rounded-md focus:outline-none w-full py-2 pl-10  bg-black text-white pr-10 border-yellow-600" type="password" name="password" placeholder="Password" required>
                        <span class="absolute inset-y-0 right-0 flex items-center pr-3">
                            <i id="togglePassword" class="fas fa-eye-slash text-gray-500 cursor-pointer"></i>
                        </span>
                    </div>
                </div>
            
                <div class="text-center">
                    <a href="" class="text-yellow-600">Forget password</a>
                </div>
            
                <div class="text-center mt-5">
                    <button type="submit" class="bg-yellow-600 px-10 py-1 text-white rounded-md">Sign in</button>
                </div>
            </form>
            
        
        </div>
      

      </section>

    </div>
    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#password');

        togglePassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            // toggle the eye slash icon
            this.classList.toggle('fa-eye-slash');
            this.classList.toggle('fa-eye');
        });
    </script>
  </body>
</html>